.side_bar_right .nav {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  text-align: center;
}

.side_bar_right .nav .sunday {
  border-top: 1px solid black;
  padding-top: 10px;
  width: 100px;
}

.side_bar_right .nav p {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.side_bar_right ul {
  padding: 10px;
  z-index: 999;
}

.side_bar_right .time {
  margin-top: 50px;
  border: 1px solid black;
  padding: 0 10px;
}

.side_bar_left ul {
  list-style-type: none;
  background-color: #060918;
  margin: 0;
  padding: 10px;
  width: 170px;
  position: fixed;
  height: 100%;
  z-index: 999;
}

.side_bar_left ul li a {
  display: block;
  color: white;
  text-decoration: none;
  border-bottom: 1px grey solid;
  width: 150px;
  padding: 15px 15px;
}

.side_bar_left ul li a :hover {
  background-color: #555;
  color: white;
}

.sidebar_logo {
  text-align: center;
  padding: 30px 0;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: pink;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a :hover a:focus {
  color: #f1f1f1;
}

.overlay a {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.part02 {
  margin: 50px 0;
}

.part02 .part02_maintitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid black;
}

.part02_content {
  background-image: url("/img/index_part2_bg.png");
  background-position: center;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.part02_content .part02_dots, .part02_content button, .part02_content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.part02_content li {
  list-style-type: none;
}

.part02_content .section_1 {
  position: absolute;
  left: 16%;
  top: 17%;
}

.carousel {
  width: 500px;
}

.part03 {
  text-align: center;
  margin: 50px 0;
}

.part03 .part03_title {
  padding-bottom: 20px;
}

.part03 .part03_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.part03 .part03_select li a {
  background-color: grey;
  padding: 5px;
  margin: 0 10px;
  border-radius: 20px;
  width: 100px;
  color: white;
}

.part03 .part03_select a:hover {
  background-color: #efe7b9;
  color: white;
}

.part04 .left {
  background-color: #F8F8F8;
}

.part04 .more {
  padding: 10px 30PX;
  border-radius: 30px;
  margin-top: 20px;
  width: 150px;
  background-color: transparent;
}

.part04 .part04_left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
  text-align: center;
}

.part04_brand p {
  color: #9a9a9a;
  font-weight: 800;
  padding-top: 50px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.icon .fb {
  margin-right: 20px;
}

.part04_dots button {
  background-color: transparent;
  border: none;
}

.part05_xl, .part05_xs {
  margin: 50px 0;
  text-align: center;
}

.part05_xl .card-text, .part05_xs .card-text {
  font-size: 14px;
}

.part05_xl .part_05_more, .part05_xs .part_05_more {
  color: black;
  text-decoration: none;
  border: solid 1px black;
  padding: 5px 20px;
}

.part05_xl .card-text, .part05_xs .card-text {
  padding-bottom: 10%;
}

.part06 {
  background-image: url("/img/index_part06_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.part06 .part_06_info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.part06 .part_06_info .owl-part06 {
  width: 500px;
  padding-top: 150px;
}

.part06 .part_06_info .owl-part06 .item img {
  width: 100px;
}

.part06 .doctor_info {
  font-size: 50px;
}

.part06 .doctor_info .doctor {
  font-size: 20px;
  letter-spacing: 2px;
}

.part06 .part06_arrow {
  margin-top: 50px;
}

.part06 .part06_arrow .part06_arrow_design {
  position: absolute;
  bottom: 43%;
  left: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  width: 85px;
  border: 1px solid black;
  border-radius: 50%;
}

.part07_xl {
  background-image: url("/img/index_marble_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.part07_xl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.part08_title {
  padding: 30px 0;
  font-size: 30px;
  font-weight: 800;
}

.part08 {
  margin-bottom: 40px;
}

.part08 .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.part08 .location span {
  border-left: 1px solid black;
  height: 50px;
  margin-top: 20px;
}

.part08 .location .location_info {
  background-color: #e0ccb2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50%;
  padding: 5px 60px;
}

.part08 .location .location_info .location_name {
  font-weight: 800;
  font-size: 20px;
  padding: 0 15px 10px 0;
}

.part08 .location .location_info .address {
  padding: 20px 0 0 20px;
}

.part08 .location .location_dunhua {
  background: url(/img/index_location_01.jpg);
}

.part08 .location .location_dunhua p {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part08 .location .location_xinyi {
  background: url(/img/index_location_02.jpg);
  background-size: cover;
}

.part08 .location .location_xinyi p {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0cecc), to(white));
  background-image: linear-gradient(#d0cecc, white);
  background-size: cover;
  height: 80px;
}

.footer span {
  padding-left: 15px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .list-group-item {
    border-top: none;
  }
  .list-group-item a:active {
    background-color: pink;
    color: white;
  }
  .menu_xs p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part02_content {
    background-image: none;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  .part02_content .section_2 {
    padding-bottom: 50px;
  }
  .tab-content span {
    color: black;
  }
  .top_navbar {
    margin: auto 0;
    height: 120px;
  }
  .top_navbar_content {
    height: 100%;
    background-color: white;
  }
  .top_navbar_content ul, .top_navbar_content li {
    margin-left: 20px;
    padding: 10px 0;
    color: grey;
  }
  aside {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
  }
  .open {
    opacity: 1;
    visibility: visible;
  }
  .case_consult {
    width: 100%;
    margin-top: 60px;
    background-color: RGB(247, 247, 247);
    padding: 15px 10px;
  }
  .outer-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }
  .toggle-overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 65px;
    z-index: 999;
  }
  .bar, .bar:after, .bar:before {
    width: 65px;
    height: 5px;
    margin: 5px;
    color: #fff;
  }
  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: RGB(161, 138, 87);
    -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: RGB(161, 138, 87);
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .bar {
    position: relative;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    background: RGB(161, 138, 87);
    -webkit-transition: all 0ms 300ms;
    transition: all 0ms 300ms;
  }
  .bar.animate:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .bar.animate:before {
    bottom: -10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  .social_xs {
    background-color: white;
    padding-left: 10px;
    right: 0;
  }
  .social_xs img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 5px 10px 0;
    width: 30px;
  }
  .side_bar_right {
    display: none;
  }
  .section_2 {
    padding: 30px;
  }
  .part04 {
    text-align: center;
  }
  .part04 .part04_dots {
    padding-bottom: 50px;
  }
  .part04 .part04_left_content {
    padding-top: 50px;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part05_xs {
    padding: 0 20px;
  }
  .part06 {
    padding-bottom: 20px;
  }
  .part06 .part06_left img {
    padding: 0 50px;
  }
  .part06 .part_06_info {
    text-align: center;
    padding-top: 50px;
  }
  .part06 .part06_arrow {
    padding-right: 90px;
  }
  .part06 .part06_arrow .part06_arrow_design {
    position: absolute;
    top: 66%;
    left: 40%;
  }
  .part07_xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
    background-image: url("/img/index_marble_background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part08_xs {
    margin-bottom: 100px;
  }
  .part08_xs .part08_title_xs {
    font-weight: 800;
    font-size: 25px;
  }
  .part08_xs .location_xs .location_info_xs {
    background-color: transparent;
    font-size: 10px;
    padding-top: 65%;
  }
  .part08_xs .location_xs .location_info_xs .location_name_xs {
    font-weight: 800;
    font-size: 15px;
  }
  .part08_xs .location_xs .location_dunhua_xs {
    background: url(/img/index_location_01.jpg);
    background-size: cover;
    height: 200px;
    margin-bottom: 120px;
  }
  .part08_xs .location_xs .location_xinyi_xs {
    background: url(/img/index_location_02.jpg);
    background-size: cover;
    height: 200px;
  }
  .footer {
    text-align: center;
    padding: 20px 0;
  }
  .footer .footer_dot {
    display: none;
  }
  .footer .footer_info span {
    font-size: 10px;
  }
}
/*# sourceMappingURL=all.css.map */