h1{
    font-weight: 800;
 letter-spacing: 5px;   
}

img{
    max-width: 100%;
    height: auto;
}

html,body {
    margin: 0;
    padding: 0;
} 

.container .container-fluid{
    padding: 0;
    margin: 0;
}